
.vs/task4_Matrix_rotation/v16/.suo
.vs/task4_Matrix_rotation/v16/Browse.VC.db
.vs/task4_Matrix_rotation/v16/Browse.VC.db-shm
.vs/task4_Matrix_rotation/v16/Browse.VC.db-wal
.vs/task4_Matrix_rotation/v16/Browse.VC.opendb
.vs/task4_Matrix_rotation/v16/ipch/AutoPCH/c4068df0c857b4d1/SOURCE.ipch
task4_Matrix_rotation/Debug/task4_Matrix_rotation.Build.CppClean.log
task4_Matrix_rotation/Debug/task4_Matrix_rotation.exe.recipe
task4_Matrix_rotation/Debug/task4_Matrix_rotation.log
task4_Matrix_rotation/Debug/task4_Matrix_rotation.vcxproj.FileListAbsolute.txt
task4_Matrix_rotation/task4_Matrix_rotation.vcxproj.user
.vs/task4_Matrix_rotation/v16/ipch/AutoPCH/89ec0bf09da1add3/SOURCE.ipch
task4_Matrix_rotation/Release/task4_Matrix_rotation.Build.CppClean.log
task4_Matrix_rotation/Release/task4_Matrix_rotation.log
task4_Matrix_rotation/Release/task4_Matrix_rotation.vcxproj.FileListAbsolute.txt
